.modal {
  border-radius: 24px;
}
.logo {
  height: 72px;
  width: 72px;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  margin-top: 24px;
}

.logoContainer {
  display: block;
}

.logoContainer > h3 {
  text-align: center;
  margin-bottom: 12px;
}

.logoContainer > p {
  text-align: center;
  margin-bottom: 24px;
}

.forgotPassword {
  margin-bottom: 12px;
  float: right;
}
