#tagsContainer {
  margin-bottom: 4px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.tagContainer {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: yellow;
  margin-right: 12px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
}

.content {
  margin-top: 32px;
}

.tagContainer:hover {
  background-color: lightgray;
  color: black;
}

.title {
  font-weight: 700;
}

.leftBarItem {
  margin-bottom: 32px;
  text-align: center;
  align-items: center;
}

.leftBar .leftBarItem > p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.rightSidebar {
  background-color: red;
  height: 500px;
  border-radius: 8px;
}
.mainChild {
  padding: 24px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 32px;
}
.formGroup {
  width: 90%;
  float: right;
  margin: auto;
}

.discussonContainer {
  padding: 0 16px;
  margin-top: 24px;
}

.commentContainer {
  width: 100%;
}
.actionsWrapper {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .rightSidebar {
    margin: 12px;
  }
}

.commentIcon {
  margin-right: 12px;
}

.commenterImg {
  margin-right: 12px;
}

.formFieldContainer {
  margin-top: 24px;
}
.innerCommentContainer {
  border: 1px solid #ccc;
  width: 100%;
  margin-left: 12px;
}
