#header {
  padding: 8px 0;
  border-bottom: 1px solid #e8e8e8;
  background-color: white;
}

#leftContainer {
  display: flex;
  padding-left: 0;
}

#logo {
  height: 48px;
  width: 48px;
  border-radius: 8px;
}

#searchContainer {
  background-color: #eef0f1;
  width: 100%;
  display: flex;
  border: 0;
  border-radius: 8px;
  margin-left: 12px;
}

#searchInput {
  outline: none;
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  margin-top: 4px;
  padding: 6px;
  width: 100%;
}

#searchIcon {
  font-size: 32px;
  margin-top: 8px;
  margin-left: 8px;
}

#rightContainer {
  padding-top: 4px;
  padding-right: 0;
}

.registerButton {
  background-color: #3b49df;
  color: white;
  float: right;
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: 600;
  margin-left: 12px;
  cursor: pointer;
}

.loginButton {
  background-color: white;
  color: #3b49df;
  float: right;
  border-radius: 8px;
  padding: 12px;
  padding: 8px 24px;
  font-weight: 600;
  cursor: pointer;
}

.registerButton:hover {
  background-color: #2532bf;
}

.loginButton:hover {
  background-color: #e6e8ff;
}
